<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Default Description"/>
    <meta name="keywords" content="Magento, Varien, E-commerce"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/css-liquid.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/stylefont.css"/>
    {% endblock %}

</head>
<body class="loaded">

<div class="header-wrapper">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-7" itemscope="" itemtype="http://schema.org/Organization">
                    <!-- logo start -->
                    <a href="/" itemprop="url"><img class="logo img-responsive"
                                                    src="//cdn.shopify.com/s/files/1/1621/6521/t/18/assets/logo.png?6241480550530695121"
                                                    alt="logo" itemprop="logo"></a>
                    <!-- logo end -->
                </div>
                <div class="col-sm-8 col-md-8 col-lg-6 col-xl-5 text-right">
                    <!-- slogan start -->
                    <div class="slogan">Default welcome msg!</div>
                    <!-- slogan end -->
                    <div class="settings">

                        <!-- currency start -->
                        <div class="currency dropdown text-right">
                            <div class="dropdown-label hidden-sm hidden-xs">Currency:</div>
                            <a class="dropdown-toggle" data-toggle="dropdown"><span
                                        class="current-currency">USD</span><span class="caret"></span></a>

                            <ul class="dropdown-menu dropdown-menu--xs-full">


                                <li data-currency="USD" class="currency__item active"><a style="cursor: pointer">USD -
                                        US Dollar</a></li>


                                <li data-currency="EUR" class="currency__item"><a style="cursor: pointer">EUR - Euro</a>
                                </li>


                                <li data-currency="GBP" class="currency__item"><a style="cursor: pointer">GBP - British
                                        Pound Sterling</a></li>

                                <li class="dropdown-menu__close"><a href="#"><span class="icon icon-close"></span>close</a>
                                </li>
                            </ul>
                        </div>
                        <!-- currency end -->

                        <!-- language start -->
                        <div class="language dropdown text-right">
                            <div class="dropdown-label hidden-sm hidden-xs">Language:</div>
                            <a class="dropdown-toggle" data-toggle="dropdown">English<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu--xs-full">

                                <li><a href="https://yourstore-language.myshopify.com/">Spanish</a></li>

                                <li><a href="https://yourstore-language.myshopify.com/pages/page_rus">Russian</a></li>

                                <li><a href="https://yourstore-language.myshopify.com/pages/page_de">German</a></li>

                                <li class="dropdown-menu__close"><a href="#"><span class="icon icon-close"></span>close</a>
                                </li>
                            </ul>
                        </div>
                        <!-- language end -->

                    </div>
                </div>
            </div>
        </div>

        <div class="stuck-nav">
            <div class="container offset-top-5">
                <div class="row">
                    <div class="pull-left col-sm-9 col-md-9 col-lg-10">


                        <nav class="navbar ">
                            <div class="responsive-menu mainMenu">

                                <div class="col-xs-2 visible-mobile-menu-on">
                                    <div class="expand-nav compact-hidden">
                                        <a href="#off-canvas-menu" id="off-canvas-menu-toggle">
                                            <div class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="menu-text">MENU</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <ul class="nav navbar-nav">
                                    <li class="dl-close"></li>
                                    {% for route, menu in get_menu() %}
                                        <li class="{% if (app.request.attributes.get('_route') == route) %}selected{% endif %}">
                                            <a href="{{ path(route) }}" class="dropdown-toggle" data-toggle="dropdown"><span
                                                        class="act-underline">{{ menu.title }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </nav>
                    </div>
                    <div class="pull-right col-sm-3 col-md-3 col-lg-2">
                        <div class="text-right">
                            <!-- search start -->
                            <div class="search link-inline ">
                                <a href="#" class="search__open"><span class="icon icon-search"></span></a>
                                <div class="search-dropdown">
                                    <form action="/search" method="get" style="position: relative;">
                                        <div class="input-outer">
                                            <input type="hidden" name="type" value="product">
                                            <input type="text" name="q" class="search_field" value="" maxlength="128"
                                                   placeholder="SEARCH:" autocomplete="off">
                                            <button type="submit" title="" class="icon icon-search"></button>
                                        </div>
                                        <a href="#" class="search__close"><span class="icon icon-close"></span></a>
                                        <ul class="search-results"
                                            style="position: absolute; left: 0px; top: 50px; display: none;"></ul>
                                    </form>
                                </div>
                            </div>
                            <!-- search end -->
                            <!-- account menu start -->
                            <div class="account link-inline ">
                                <div class="dropdown text-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="icon icon-person "></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu--xs-full">
                                        <li><a href="/account"><span class="icon icon-person"></span>Account</a></li>


                                        <li><a href="/checkout"><span class="icon icon-done_all"></span>Checkout</a>
                                        </li>


                                        <li><a href="/account/login"><span class="icon icon-lock"></span>Sign In</a>
                                        </li>
                                        <li><a href="/account/register"><span class="icon icon-person_add"></span>Register</a>
                                        </li>


                                        <li class="dropdown-menu__close"><a href="#"><span
                                                        class="icon icon-close"></span>close</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- account menu end -->


                            <!-- shopping cart start -->
                            <div class="cart link-inline header-cart">
                                <div class="dropdown text-right">
                                    <a class="dropdown-toggle">
                                        <span class="icon icon-shopping_basket"></span>
                                        <span class="badge badge--cart bigcounter">1</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu--xs-full slide-from-top cart-group-1"
                                         role="menu">
                                        <div class="container">

                                            <div class="cart__top">Recently added item(s)</div>
                                            <a href="#" class="icon icon-close cart__close"><span>close</span></a>
                                            <ul>
                                                <li class="cart__item">
                                                    <div class="cart__item__image pull-left"><a
                                                                href="/products/adidas-originals-trainers?variant=19130315207"><img
                                                                    src="//cdn.shopify.com/s/files/1/1236/4838/products/adidas_Originals_ZX_Flux_Weave_Black___Blue_Trainers_0_small.JPG?v=1476446528"
                                                                    alt=""></a></div>
                                                    <div class="cart__item__control">
                                                        <div class="cart__item__delete"><a href="javascript:void(0);"
                                                                                           onclick="Shopify.removeItem(19130315207)"
                                                                                           class="icon icon-delete"><span>Delete</span></a>
                                                        </div>
                                                        <div class="cart__item__edit"><a
                                                                    href="/products/adidas-originals-trainers?variant=19130315207"
                                                                    class="icon icon-edit"><span>Edit</span></a></div>
                                                    </div>
                                                    <div class="cart__item__info">
                                                        <div class="cart__item__info__title">
                                                            <h2 class="title-center"><a
                                                                        href="/products/adidas-originals-trainers?variant=19130315207">adidas
                                                                    Originals Trainers - 42 / Red</a></h2>
                                                        </div>
                                                        <div class="cart__item__info__price"><span class="info-label">Price:</span><span><span
                                                                        class="money"
                                                                        data-currency-usd="$90.00">$90.00</span></span>
                                                        </div>
                                                        <div class="cart__item__info__price" style="right: 35%;"><span
                                                                    class="info-label">Qty:</span><span>1</span></div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="cart__bottom">
                                                <a href="/checkout" class="btn btn--ys btn-checkout">Checkout <span
                                                            class="icon icon--flippedX icon-reply"></span></a>
                                                <div class="cart__total">Cart subtotal: <span
                                                            class="shopping-cart__total"> <span class="money"
                                                                                                data-currency-usd="$90.00">$90.00</span></span>
                                                </div>
                                                <a href="/cart" class="btn btn--ys"><span
                                                            class="icon icon-shopping_basket"></span>View Cart</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shopping cart end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<section class="breadcrumbs show">
    <div class="container">
        <ol class="breadcrumb breadcrumb--ys pull-left">
            <li class="home-link"><a href="/" class="icon icon-home"></a></li>
            {% for route, menu in get_breadcrumbs() %}
                {% if (menu.title != '') %}
                    {% if menu.is_text is defined %}
                        <li><span>{% block breadcrumb_title %}{{ menu.title }}{% endblock %}</span></li>
                    {% else %}
                        <li><span><a href="{{ path(route) }}">{{ menu.title }}</a></span></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </ol>

    </div>
</section>

<div id="pageContent" class="starthide show">
    <!-- CONTENT section -->
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <!-- End CONTENT section -->
</div>

<footer>
    <!-- footer-data -->
    <div class="container inset-bottom-60">
        <div class="row">

            <div class="col-sm-12 col-md-5 col-lg-6 border-sep-right">

                <div class="footer-logo hidden-xs">
                    <!--  Logo  -->
                    <a class="logo" href="https://yourstore-default.myshopify.com"> <img
                                src="//cdn.shopify.com/s/files/1/1621/6521/t/18/assets/logo.png?6241480550530695121"
                                alt="yourstore-default"> </a>
                    <!-- /Logo -->
                </div>


                <div class="box-about">
                    <div class="mobile-collapse">
                        <h4 class="mobile-collapse__title visible-xs">ABOUT US</h4>
                        <div class="mobile-collapse__content">
                            <p> No more need to look for other ecommerce themes. We provide huge number of different
                                layouts. Yourstore comes packed with free and useful features developed to make your
                                website creation easier. Innovative clean design, advanced functionality, UI made for
                                humans, extensive documenta- tion and support i continue this list infinitely... </p>
                        </div>
                    </div>
                </div>


                <!-- subscribe-box -->
                <div class="subscribe-box offset-top-20">
                    <div class="mobile-collapse">

                        <h4 class="mobile-collapse__title">NEWSLETTER SIGNUP</h4>
                        <div class="mobile-collapse__content">
                            <form action="//myshopify.us11.list-manage.com/subscribe/post?u=0b829b8aff26aaaaa5da602c6&amp;id=293978d1bd"
                                  method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
                                <input type="text" name="EMAIL" class="subscribe-form__input">
                                <button type="submit" class="btn btn--ys btn--xl">SUBSCRIBE</button>
                            </form>
                        </div>


                    </div>
                </div>
                <!-- /subscribe-box -->

            </div>


            <div class="col-sm-12 col-md-7 col-lg-6 border-sep-left">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mobile-collapse">
                            <h4 class="text-left  title-under  mobile-collapse__title">INFORMATION</h4>
                            <div class="v-links-list mobile-collapse__content">
                                <ul>

                                    <li><a href="/pages/about">About Us</a></li>

                                    <li><a href="/pages/support-24">Customer Service</a></li>

                                    <li><a href="/pages/faq">Privacy Policy</a></li>

                                    <li><a href="/pages/about">Site Map</a></li>

                                    <li><a href="/pages/typography">Search Terms</a></li>

                                    <li><a href="/pages/warranty-and-services">Advanced Search</a></li>

                                    <li><a href="/pages/delivery-page">Orders and Returns</a></li>

                                    <li><a href="/pages/contacts">Contact Us</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mobile-collapse">
                            <h4 class="text-left  title-under  mobile-collapse__title">WHY BUY FROM US</h4>
                            <div class="v-links-list mobile-collapse__content">
                                <ul>

                                    <li><a href="/pages/warranty-and-services">Shipping &amp; Returns</a></li>

                                    <li><a href="/pages/typography">Secure Shopping</a></li>

                                    <li><a href="/pages/about">International Shipping</a></li>

                                    <li><a href="/pages/delivery-page">Affiliates</a></li>

                                    <li><a href="/pages/support-24">Group Sales</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mobile-collapse">
                            <h4 class="text-left  title-under  mobile-collapse__title">MY ACCOUNT</h4>
                            <div class="v-links-list mobile-collapse__content">
                                <ul>

                                    <li><a href="https://yourstore-default.myshopify.com/account/login">Sign In</a></li>

                                    <li><a href="https://yourstore-default.myshopify.com/cart">View Cart</a></li>

                                    <li><a href="https://yourstore-default.myshopify.com/pages/wishlist">My Wishlist</a>
                                    </li>

                                    <li><a href="/pages/support-24">Track My Order</a></li>

                                    <li><a href="/pages/faq">Help</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="divider divider-md visible-xs visible-sm visible-md"></div>
    <!-- social-icon -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social-links social-links--large">
                    <ul>
                        <li><a class="icon fa fa-facebook" href="//facebook.com/"></a></li>
                        <li><a class="icon fa fa-twitter"
                               href="https://www.youtube.com/channel/UCDg7f6PvTo7hdcpPowI3UtA"></a></li>
                        <li><a class="icon fa fa-google-plus"
                               href="https://www.youtube.com/channel/UCDg7f6PvTo7hdcpPowI3UtA"></a></li>
                        <li><a class="icon fa fa-instagram"
                               href="https://www.youtube.com/channel/UCDg7f6PvTo7hdcpPowI3UtA"></a></li>
                        <li><a class="icon fa fa-youtube-square"
                               href="https://www.youtube.com/channel/UCDg7f6PvTo7hdcpPowI3UtA"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /social-icon -->
    <a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop">Back to top <span
                class="icon icon-expand_less"></span></a>

</footer>

{% block javascripts %}
    <script src="//cdn.shopify.com/s/files/1/1236/4838/t/56/assets/bootstrap.min.js?1366881093076318436" type="text/javascript"></script>
{% endblock %}
</body>
</html>